# Google Cloud Service Account
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n

# Google Sheets ERP
SPREADSHEET_ID=1-sEnBHMyt2a5ZKtVmdWl5_mMqhQMC8B1sAudlzBzBHg

# Admin Panel
ADMIN_PASSWORD=tu_password_segura

# WhatsApp (opcional si lo querés como env var)
WHATSAPP_NUMBER=5491122913796
